.form {
    display: inline-block;
    width: 20%;
    color: white;
    background-color: grey;
    vertical-align: middle;
    border-radius: 10px
}

.form-container {
    size: 100%
}

input {
    margin-bottom: 10px
}

input[type=submit] {
    display: inline;
    color: blue;
    background-color: white;
    border-color: blue
}

input[type=submit]:hover {
    color: white;
    background: blue;
    border-color: blue;
    cursor: pointer;
    transform: scale(1.2);
    transition: all .2s ease-in-out
}

.signinSentence {
    text-align: center;
    color: yellow
}

.error {
    background-color: red;
    color: white;
    display: inline-block;
    width: 300px;
    border-radius: 5px
}